{% extends 'layout.html' %}

{% block body %}  <!--Main layout-->
<main class="my-5 pt-5">
    <div class="container">
        <section>
            <div class="wow fadeIn">
                {% if keyword == "" %}
                    <h2 class="h1 text-center mb-5">All Items</h2>
                {% else %}
                    <h2 class="h1 text-center mb-5">Items matching: {{keyword}}</h2>
                {% endif %}
            </div>
        </section>
      <!--Grid row-->
        <div class="row wow fadeIn">
            <div class="col-10">
                {% for item in items %}
                <div class="card flex-row flex-wrap">
                    <div class="card-header border-0" style="max-width: 25%;">
                        <img src="{{ item.image }}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="card-block px-2 pt-2">
                        <h3 class="font-weight-bold dark-grey-text"><strong>{{ item.name }}</strong></h3>
                        <a class="btn btn-outline-primary" href='{{ url_for("listings.view_item", item_id = item.id)}}'>
                            {{ item.item_listings|length }} listings</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="col-2">
                {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem">
                    Add Item
                </button>
                {% endif %}
            </div>
            
        </div>

    </div>

    <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.name.label }}<br>
                                {{ form.name(size=32) }}<br>
                                {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.image.label }}<br>
                                {{ form.image(size=32) }}<br>
                                {% for error in form.image.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>
<!--Main layout-->
{% endblock %}